* {
    --ticket-header-gradient-start-color: #FBC901;
    --ticket-header-gradient-end-color: #B8860B;
    --ticket-header-color: #ffffff;
    --main-background-color: rgba(255, 252, 243, 0.5);
    --ticket-body-background-color: rgba(255, 255, 255, 0.7);
    --info-label-color: #656565;
    --common-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    --couple-names-color: #FFB302;
    --families-text-color: #656565;
    --ticket-footer-color: #888;
    --ticket-footer-background-color: #f9f9f9;
}
@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
        visibility: hidden;
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
    }
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--main-background-color);
    background-image: url("media/ivy.png");
    background-position: center;
    background-size: auto;
    background-blend-mode: soft-light;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
}

.ticket {
    opacity: 1;
    width: 100%;
    max-width: 400px;
    background: var(--ticket-header-color);
    border-radius: 10px;
    box-shadow: var(--common-shadow);
    overflow: hidden;
    position: relative;
    transition: zoom 2s linear;
}

#wedding-ticket {
    /*animation: 0.6s ease-in-out 0s 1 slideInDown;*/
}

#ceremony-ticket {
    /*animation: 1s ease-in-out 0s 1 slideInDown;*/
}

.ticket-header {
    background: url("media/paper_texture.JPG"), linear-gradient(135deg, var(--ticket-header-gradient-start-color), var(--ticket-header-gradient-end-color));
    background-blend-mode: color-burn;
    background-size: cover;
    color: var(--ticket-header-color);
    padding: 15px 20px;
    text-align: center;
}

.ticket-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ticket-sub-title {
    font-size: 14px;
    opacity: 0.8;
}

.ticket-body {
    padding: 20px;
    background-image: url("media/paper_texture.JPG"), url("media/photo1.png");
    background-color: var(--ticket-body-background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
}

.info-group {
    display: grid;
    text-align: left;
    margin-bottom: 10px;
}

.button-label {
    text-align: right;
}

.info-date-group {
    grid-template-columns: 4fr 2fr;

}

.info-location-group {
    grid-template-columns: 4fr 2fr;
}

.info-section {
    flex: 1;
}

.info-label {
    font-size: 16px;
    color: var(--info-label-color);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.info-value {
    font-size: 24px;
    font-weight: bold;
}

.info-sub-value {
    font-size: 14px;
    color: var(--info-label-color);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.couple-names {
    text-align: center;
    margin: 25px 0;
    font-weight: 300;
    color: var(--couple-names-color);
    font-family: "Dancing Script", cursive;
    font-size: 64px;
    font-optical-sizing: auto;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.bride-name {
    z-index: 2;
    margin-right: 200px;
}

.groom-name {
    z-index: 2;
    margin-left: 150px;
}

.heart {
    margin-top: -5vh;
    margin-bottom: -10vh;
    rotate: 6deg;
    z-index: 1;
    opacity: 0.2;
}

.families {
    text-align: center;
    font-size: 14px;
    color: var(--families-text-color);
    margin-bottom: 20px;
    font-style: italic;
}

.ticket-footer {
    background: var(--ticket-footer-background-color);
    padding: 10px 20px;
    font-size: 10px;
    color: var(--ticket-footer-color);
    text-align: center;
}

.maps-icon {
    text-align: center;
}

.calendar-icon {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 846px) {
    body {
        flex-direction: column;
    }
}